# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

# Python virtual environment
venv/
.venv/

# IDE
.idea/

# OS
Thumbs.db
